a {
    color: red;
    margin: 20px;
}

.nom {
    background-color: tomato;
}

#Profile_id {
    color: cadetblue;
    font-style: italic;
    font-weight: 500;
}

#is {
    color: rgb(255, 213, 0);
    font-style: italic;
    font-weight: 500;
}

#etiq {
    color: rgb(203, 52, 156);
    font-style: italic;
    font-weight: 500;
}

#pp {
    color: rgb(52, 203, 145);
    font-style: italic;
    font-weight: 500;
}