a {
    color: red;
    margin: 20px;
}

.nom {
    background-color: tomato;
}

#Profile_id:hover {
    color: cadetblue;
    font-style: italic;
    font-weight: 500;
}

#is {
    color: rgb(0, 89, 255);
    font-style: italic;
    font-weight: 500;
}

#etiq {
    color: rgb(203, 52, 156);
    font-style: italic;
    font-weight: 500;
}

#pp {
    color: rgb(52, 203, 145);
    font-style: italic;
    font-weight: 500;
}

.form-container {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; 
}

.form {
    max-width: 330px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#loginBtn:hover {
    background-color: rgb(0, 149, 255);
    color: white;
    cursor: pointer;
  }
  
  #welcomeBtn:hover {
    background-color: royalblue;
    color: white;
    cursor: pointer;
  }
  